<h1 class="mb-4">Stupid coaching</h1>
<div class="ms-4 mb-4 p-2 border-start">
<p class="mb-1"><%= @question %></p>
<p>-You</p>
</div>
<div class="bg-warning ms-4 p-2 border-start">
<p class="mb-1 font-weight-bold"><%= @answer %></p>
<p>-Your coach</p>
</div>
